@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {

    background-color: #e8ebf1;

    &__inner {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: #2aacc8;
        font-size: 50px;

        font-family: 'Lato',
            sans-serif;

        span {
            color: #000;
            font-weight: 900;
        }
    }

    &__menu {
        margin-right: 20px;

        li {
            display: inline-block;


        }

        li+li {
            margin-left: 50px;
        }

        a {
            font-family: arial, sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            padding-top: 9px;
            padding-bottom: 13px;
        }

    }
}

.drop-down__list {
    height: 0;
    opacity: 0;
    overflow: hidden;

    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgb(232, 235, 241);
    border-bottom: 5px solid #2aacc8;
    border-top: none;
    box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
    padding: 10px 5px;

    &:hover {
        display: block;
    }

    a {
        padding: 12px 0 11px 12px;
        font-weight: 400;
        display: block;
        text-transform: none;

        &:hover {
            color: #2aacc8;
        }

    }





    li+li a {
        border-top: 1px solid #e7e7e7;
    }
}

.header__drop-down.drop-down li {
    margin-left: 0;
    display: block;
}

.header__drop-down.drop-down {
    margin-left: 39px;

    &:hover .drop-down__list {
        height: auto;
        opacity: 1;
        overflow: visible;
        transition: all .3s;

    }

    &:hover>a {
        color: #2aacc8;
        border-top: 5px solid #2aacc8;
        background-color: #fff;
        transition: all .3s;
    }

}

.header__drop-down.drop-down+.header__drop-down.drop-down {
    margin-left: 12px;
}

.header__drop-down {
    position: relative;
}

.header__drop-down>a {
    position: relative;
    padding-left: 11px;
    padding-right: 26px;
    border-top: 5px solid transparent;



    &:hover+.drop-down__list {
        display: block;
    }


    &::after {
        content: '';
        position: absolute;
        background-image: url(../images/down-arrow.png);
        width: 7px;
        height: 5px;
        right: 10px;
        top: 16px;
    }
}

.header__drop-down.drop-down+.header__link-blok {
    margin-left: 20px;
}






@import "media";